<!-- front/partials/footer.html -->
<footer>
    <div class="footer-content">
        <button onclick="location.href='contacto.html'">Contáctanos</button>
        <button onclick="location.href='sobre-nosotros.html'">Sobre Nosotros</button>
        <p>&copy; 2025 EventosOcaso. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="#"><img src="../images/icon-facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../images/icon-twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../images/icon-instagram.png" alt="Instagram"></a>
        </div>
    </div>
</footer>
